{% extends "base.html" %}
{% load static %}
{% block content %}


<body class="bg-dark text-white">
    {% if created %}

    {% else %}
    {% include "text/pageBlock.html" %}
    {% endif %}
    <main>
        {% include "text/reset_pass.html" %}
        {% include "text/delete.html" %}
        <div class="container mx-auto text-center my-2 pos"> 
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary text-white " id="save">Save
                    💾<span class="scbtn">(alt+s)</span> </button>
                <button type="button" class="btn btn-outline-primary text-white" id="reset_btn" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">Reset Password
                    🔑<span class="scbtn">(alt+r)</span></button>
                <button type="button" class="btn btn-outline-primary text-white" id="delete_btn" data-bs-toggle="modal"
                    data-bs-target="#staticBackdropDel">Delete
                    ❌<span class="scbtn">(alt+x)</span></button>
                <button type="button" class="btn btn-outline-primary text-white" id="download">Download 🔽<span
                        class="scbtn">(alt+d)</span></button>
            </div>
        <div class="container" style="margin-top:20px">
            <strong>

                <div class="alert alert-primary" id="msg-box" role="alert"
                    style="margin: 0;border-radius: 5px 5px 0px 0px;">
                    {% if created %}
                    DEFAULT PASSWORD is 123, PLEASE CHANGE IT
                    {% endif %}

                </div>
            </strong>
            <form id="myform">

                <textarea cols="1" rows="1" class="form-control textarea-contents my-5 mousetrap"
                    placeholder="Type your text here" id="text-content" style="margin-top: 0px !important;"
                    autofocus></textarea>
            </form>
        </div>
        <span id="hidden-pass" style="display:none">{{password}}</span>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'mousetrap.js' %}"></script>

    <script>
        // Prevent the user from exiting current tab without saving changes
        const beforeUnloadListener = (e) => {
            e.preventDefault();
            return e.returnValue = "Are you Sure?";
        }
        document.getElementById('text-content').addEventListener('input', (e) => {
            document.getElementById('msg-box').innerText = 'UNSAVED CHANGES';
            window.addEventListener("beforeunload", beforeUnloadListener, { capture: true });
        });

        //Save the new text in the database, change info button, letting user close the current tab
        function savefunc(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "text:update" %}',
                data: {
                    newText: $('#text-content').val(),
                    slug: "{{ obj.slug }}",
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: 'post'
                },
                success: function (json) {
                    if (json['status'] === 'OK') {
                        document.getElementById('msg-box').innerText = 'TEXT SAVED';
                        window.removeEventListener("beforeunload", beforeUnloadListener, { capture: true });

                    }
                },
                error: function (xhr, errmsg, err) {

                }
            });
        }

        Mousetrap.bind('alt+s', savefunc);
        $(document).on('click', '#save', savefunc);

        //Deleteing the current note/site and redirecting to home page
        function deletefunc(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "text:delete" %}',
                data: {
                    slug: "{{obj.slug}}",
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: 'post'
                },
                success: function (json) {


                },
                error: function (xhr, errmsg, err) {

                }
            });
            var url = "{% url 'text:home' %}";
            document.location.href = url;
        }
        $(document).on('click', '#delete', deletefunc);
        const clickdelbtn = () => {
            document.getElementById('delete_btn').click();
        }
        Mousetrap.bind('alt+x', clickdelbtn);


        // Change current note/site password and saving it to database
        function reset_pass_func(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "text:reset_pass" %}',
                data: {
                    slug: "{{ obj.slug }}",
                    newPass: $('#pass').val(),
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: 'post'
                },
                success: function (json) {
                    if (json['status'] === 'OK') {
                        document.getElementById('msg-box').innerText = 'PASSWORD CHANGED SUCCESSFULLY';
                        document.getElementById('hidden-pass').innerText = json['password_local'];
                    }
                },
                error: function (xhr, errmsg, err) {

                }
            })
        }
        $(document).on('click', '#reset', reset_pass_func);
        const clickbtn = () => {
            document.getElementById('reset_btn').click();
        }
        Mousetrap.bind('alt+r', clickbtn);


        // Submitting and Verifying the password entered by the user
        function verifyfunc(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "text:grant_access" %}',
                data: {
                    slug: "{{ obj.slug }}",
                    pass: $('#pass-en').val(),
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: 'post'
                },
                success: function (json) {
                    if (json['status'] === 'OK') {

                        $('#pageblock').css({ "display": "none" });
                        $('#text-content').val(json['text']);
                        document.getElementById('hidden-pass').innerText = json['password_local'];
                    }
                    else if (json['status'] === 'NOTOK') {
                        document.getElementById('pass_msg').innerText = json['text'];
                    }
                },
                error: function (xhr, errmsg, err) {

                }
            })
        }
        $(document).on('click', '#go', verifyfunc);



        // download the current text as a Text File 
        function downloadfunc(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "text:download" %}',
                data: {
                    slug: "{{ obj.slug }}",
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: 'post'
                },
                success: function (json) {

                    var element = document.createElement('a');
                    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(json['text']));
                    element.setAttribute('download', json['filename']);

                    element.style.display = 'none';
                    document.body.appendChild(element);

                    element.click();

                    document.body.removeChild(element);

                },
                error: function (xhr, errmsg, err) {

                }
            });
        }
        $(document).on('click', '#download', downloadfunc);
        Mousetrap.bind('alt+d', downloadfunc);


    </script>
</body>
{% endblock %}